<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>500</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="cw">
    <div class="taocan">
        <div class="con_con" style="border-bottom:4px #e8e8e8 solid;">
            <div class="cw404">
                <img src="/images/500_03.jpg"/>

                <p>错误代码：500（服务器内部错误）</p>

                <p><span>在试试：</span><a href="/">首页</a></p>
            </div>
            <div style="height:80px;"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>

</body>
</html>
